.catkin_workspace
brain/video/devel
brain/video/install
.DS_Store
.idea
*.
.gitignore
.project
.pydevproject
brain/video/src/.settings
brain/video/workspace/.metadata
brain/.metadata
brain/video/.settings
brain/video/install
brain/video/src/brain/matlab/brain/matlab_gen
matlab/brain/matlab_gen
brain/build
brain/devel
brain/src/CMakeLists.txt
ohps/.metadata
ohps/build
ohps/devel
