[submodule "srs_chuck/src/laser_filters"]
	path = srs_chuck/src/laser_filters
	url = https://github.com/6RiverSystems/laser_filters.git

[submodule "srs_chuck/src/navigation"]
	path = srs_chuck/src/navigation
	url = https://github.com/6RiverSystems/navigation.git