brain/video/build
.catkin_workspace
brain/video/devel
.DS_Store
.idea
*.
.gitignore
.project
.pydevproject
brain/video/src/.settings
brain/video/workspace/.metadata
brain/.metadata
brain/video/.settings
brain/video/install
