[submodule "laser_filters"]
	path = laser_filters
	url = git@github.com:6RiverSystems/laser_filters.git

[submodule "navigation"]
	path = navigation
	url = git@github.com:6RiverSystems/navigation.git

[submodule "librealsense"]
	path = librealsense
	url = git@github.com:6RiverSystems/librealsense.git

[submodule "realsense"]
	path = realsense
	url = git@github.com:6RiverSystems/realsense.git

[submodule "depthimage_to_laserscan"]
	path = depthimage_to_laserscan
	url = git@github.com:6RiverSystems/depthimage_to_laserscan.git

[submodule "sick_tim"]
	path = sick_tim
	url = git@github.com:6RiverSystems/sick_tim.git
