<!-- 
  *
  * (c) Copyright 2015-2016 River Systems, all rights reserved.
  *
  * This is proprietary software, unauthorized distribution is not permitted.
  *
-->
<launch>
    <node name="srsdrv_brain_stem"
        pkg="srsdrv_brain_stem"
        type="srsdrv_brain_stem_driver" 
        output="screen" respawn="true"/>
</launch>
