<!-- 
  *
  * (c) Copyright 2015-2016 River Systems, all rights reserved.
  *
  * This is proprietary software, unauthorized distribution is not permitted.
  *
-->
<launch>
    <node name="srsnode_reflexes"
        pkg="srsnode_reflexes" 
        type="srsnode_reflexes"
        output="screen" />
</launch>
