<!-- 
  *
  * (c) Copyright 2015-2016 River Systems, all rights reserved.
  *
  * This is proprietary software, unauthorized distribution is not permitted.
  *
-->
<launch>
	<arg name="camera" default="camera" />
	<arg name="simulation" default="false" />

	<node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />

	<!-- Run a VoxelGrid filter to clean NaNs and downsample the data -->
    <node pkg="nodelet" type="nodelet" name="VoxelGrid" args="load pcl/VoxelGrid pcl_manager" output="screen">
        <remap from="~input" to="/camera/depth/points" />
        <rosparam>
            filter_field_name: z
            filter_limit_min: -0.1
            filter_limit_max: 1000
            filter_limit_negative: False
            leaf_size: 0.10
        </rosparam>
 	</node>

   <node pkg="nodelet" type="nodelet" name="PassThrough" args="load pcl/PassThrough pcl_manager" output="screen">
        <remap from="~input" to="/VoxelGrid/output"/>
        <rosparam>
            filter_field_name: z
            filter_limit_min: 0.3
            filter_limit_max: 3.5
            filter_limit_negative: False
        </rosparam>
	</node>

	<node pkg="nodelet" type="nodelet" name="StatisticalOutlier" args="load pcl/StatisticalOutlierRemoval pcl_manager" output="screen">
        <remap from="~input" to="/PassThrough/output"/>
        <remap from="~output" to="/camera/depth/points/filtered"/>
        <rosparam>
               mean_k: 10
               stddev: 0.05
        </rosparam>
	</node>

</launch>

