<!-- 
  *
  * (c) Copyright 2015-2016 River Systems, all rights reserved.
  *
  * This is proprietary software, unauthorized distribution is not permitted.
  *
-->
<launch>
	<arg name="camera" default="camera" />

	<include file="$(find realsense_camera)/launch/r200_nodelet_rgbd.launch">
		<arg name="camera"          value="$(arg camera)" />
		<arg name="publish_tf"		value="true" />
		<arg name="depth"			value="depth" />
		<arg name="rgb"				value="color" />
		<arg name="ir"				value="infrared1" />
		<arg name="ir2"				value="infrared2" />
		<arg name="color_height"	value="240" />
		<arg name="color_width"		value="320" />
		<arg name="depth_height"	value="252" />
		<arg name="depth_width" 	value="332" />
		<arg name="depth_fps"       value="30" />
		<arg name="color_fps"       value="30" />
	</include>

	<node pkg="nodelet" type="nodelet" name="laserscan_nodelet_manager" args="manager"/>

    <!-- push depthimage_to_laserscan nodelet into sensor's nodelet manager-->
	<node pkg="nodelet" type="nodelet" name="depthimage_to_laserscan" args="load depthimage_to_laserscan/DepthImageToLaserScanNodelet laserscan_nodelet_manager">
        <remap from="image" to="/camera/depth/image_raw"/>
        <remap from="scan" to="/camera/depth/scan"/>
        
		<param name="scan_height" value="10"/>
		<param name="scan_time" value="0.033"/>
		<param name="output_frame_id" value="/laser_frame"/>
		<param name="range_min" value="0.01"/>
		<param name="range_max" value="8.00"/>
		<param name="concurrency_level" value="0"/>
    </node>

	<node name="srsnode_realsense_to_laserscan" pkg="srsnode_realsense_to_laserscan" type="srsnode_realsense_to_laserscan"
		output="screen" respawn="true"/>

	<node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter">
		<remap from="scan" to="/camera/scan" />
		<remap from="scan_filtered" to="/camera/scan_filtered" />
		<rosparam command="load" file="$(find srsnode_realsense_to_laserscan)/launch/laser_filter.yaml" />
	</node>

</launch>

