<!-- 
  *
  * (c) Copyright 2015-2016 River Systems, all rights reserved.
  *
  * This is proprietary software, unauthorized distribution is not permitted.
  *
-->
<launch>
    <node name="srsnode_highlevel_behavior"
        pkg="srsnode_highlevel_behavior" 
        type="srsnode_highlevel_behavior"
        output="screen" respawn="true"/>
</launch>
