<!-- 
  *
  * (c) Copyright 2015-2016 River Systems, all rights reserved.
  *
  * This is proprietary software, unauthorized distribution is not permitted.
  *
-->
<launch>
    <arg name="customer_map" value="6rhq.yaml" />
    <arg name="customer_anchors" value="6rhq-anchors.yaml" />
    <arg name="robot_configuration" value="$(optenv ROBOT_NAME development).yaml" />
    <arg name="emulation" value="false" />

    <arg name="paused" default="false" />
    <arg name="use_sim_time" default="true" />
    <arg name="gui" default="true" />
    <arg name="headless" default="false" />
    <arg name="debug" default="true" />

    <!-- Launch the robot with the specified cost parameters -->
    <include file="$(find srsbot_chuck)/launch/robot.launch">
        <arg name="target_map" value="$(find srsc_6rhq)/map/$(arg customer_map)" />
        <arg name="target_anchors" value="$(find srsc_6rhq)/map/$(arg customer_anchors)" />
        <arg name="robot_configuration" value="$(find srsc_6rhq)/robots/$(arg robot_configuration)" />
        <arg name="emulation" value="$(arg emulation)" />
    </include>
</launch>
