<launch>
	<arg name="paused" default="false"/>
	<arg name="use_sim_time" default="true"/>
	<arg name="gui" default="true"/>
	<arg name="headless" default="false"/>
	<arg name="debug" default="true"/>

	<!-- Launch map server -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(find rhq_map)/maps/empty.yaml" />

	<!-- Robot description -->
  	<param name="robot_description" command="$(find xacro)/xacro.py $(find chuck_model)/urdf/chuck.urdf.xacro" />

	<node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0.0 0.0 0.0 0 0 0.0 /map /odom 100"/>

	<!-- Joint and robot state publishers -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<rosparam file="$(find chuck_model)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find chuck_model)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find chuck_model)/config/local_costmap_params.yaml" command="load" />
		<rosparam file="$(find chuck_model)/config/global_costmap_params.yaml" command="load" />
		<rosparam file="$(find chuck_model)/config/base_local_planner_params.yaml" command="load" />
		<rosparam file="$(find chuck_model)/config/move_base_params.yaml" command="load" />
	</node>
</launch>
