<!-- 
  *
  * (c) Copyright 2015-2016 River Systems, all rights reserved.
  *
  * This is proprietary software, unauthorized distribution is not permitted.
  *
-->
<launch>
    <arg name="target_map" />

    <node name="srsnode_map_server"
        pkg="srsnode_map_server" 
        type="srsnode_map_server"
        output="screen">
        <param name="target_map" type="str" value="$(arg target_map)" />
    </node>
</launch>
