log4j.logger.ros=WARN
log4j.logger.ros.roscpp.superdebug=WARN
log4j.logger.ros.roscpp=WARN
log4j.logger.ros.realsense_camera=FATAL
log4j.logger.ros.srsdrv_brainstem.firmware=INFO
log4j.logger.ros.srsdrv_brainstem.velocity=INFO
log4j.logger.ros.srsdrv_brainstem=INFO
log4j.logger.ros.srsdrv_stargazer.transform=INFO
log4j.logger.ros.srsdrv_stargazer.calibrate=WARN
log4j.logger.ros.srsdrv_stargazer=INFO
log4j.logger.ros.srslib_framework.base_controller=INFO
log4j.logger.ros.srslib_framework.cmu_path_controller=INFO
log4j.logger.ros.srslib_framework.serial-io.brainstem=INFO
log4j.logger.ros.srslib_framework.serial-io.stargazer=INFO
log4j.logger.ros.srslib_framework=INFO
log4j.logger.ros.srsnode_executive=INFO
log4j.logger.ros.srsnode_joystick_adapter=INFO
log4j.logger.ros.srsnode_map_server=INFO
log4j.logger.ros.srsnode_midbrain=INFO
log4j.logger.ros.srsnode_midbrain.obstacle_detection=INFO
log4j.logger.ros.srsnode_motion.motion=INFO
log4j.logger.ros.srsnode_motion.motion_controller=INFO
log4j.logger.ros.srsnode_motion.position_estimator=INFO
log4j.logger.ros.srsnode_realsense_to_laserscan=INFO
