<!--
  *
  * (c) Copyright 2015-2016 River Systems, all rights reserved.
  *
  * This is proprietary software, unauthorized distribution is not permitted.
  *
-->
<launch>
    <arg name="emulation_mode"/>
    
    <remap from="/request/odometry/initial_pose" to="/request/initial_pose" if="$(arg emulation_mode)"/>
    <node name="srsnode_odometry" pkg="srsnode_odometry" type="srsnode_odometry"  output="screen"/>
</launch>
