<!-- 
  *
  * (c) Copyright 2015-2016 River Systems, all rights reserved.
  *
  * This is proprietary software, unauthorized distribution is not permitted.
  *
-->
<launch>
	<!--- AMCL -->
	<include file="$(find amcl)/examples/amcl_diff.launch" />

	<!--- Move Base -->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<remap from="/move_base_simple/goal" to="/request/goal"/>
		<remap from="/cmd_vel" to="/internal/drivers/brainstem/cmd_velocity"/>
		<remap from="/map" to="/internal/state/map/grid"/>
		
		<rosparam file="$(find srsnode_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find srsnode_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find srsnode_navigation)/config/local_costmap_params.yaml" command="load" />
		<rosparam file="$(find srsnode_navigation)/config/global_costmap_params.yaml" command="load" />
		<rosparam file="$(find srsnode_navigation)/config/base_local_planner_params.yaml" command="load" />
	</node>
</launch>
