<!-- 
  *
  * (c) Copyright 2015-2016 River Systems, all rights reserved.
  *
  * This is proprietary software, unauthorized distribution is not permitted.
  *
-->
<launch>
    <arg name="simulation" default="false" />

    <!-- Chuck Stack -->
	<include file="$(find srsbot_chuck)/launch/robot.launch" />

    <!-- Launch AMCL Localization -->
	<include file="$(find srsnode_localization)/launch/amcl.launch" />

    <!-- Intel Realsense R200 -->
    <include file="$(find realsense_camera)/launch/r200_nodelet_rgbd.launch" >
        <arg name="load_driver" unless="$(arg simulation)" value="true" />
    </include>

    <node name="map_server" pkg="map_server" type="map_server" args="$(find srsc_6rhq_sortwall)/map/6rhq_sortwall.yaml" >
    	<remap from="map" to="/internal/state/map/occupancy"/>
    	<remap from="map_metadata" to="/internal/state/map/info"/>
    </node>
</launch>
