<!-- 
  *
  * (c) Copyright 2015-2016 River Systems, all rights reserved.
  *
  * This is proprietary software, unauthorized distribution is not permitted.
  *
-->
<launch>
    <arg name="use_sim_time" default="false" />
    <arg name="start_bridge" default="true" />
    <arg name="emulation_mode" default="false" />

    <!-- Chuck Stack -->
    <include file="$(find srsbot_chuck)/launch/robot.launch" >
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="start_bridge" value="$(arg start_bridge)" />
        <arg name="emulation_mode" value="$(arg emulation_mode)" />
	</include>

    <!-- Sensors -->
	<include file="$(find srsbot_chuck)/launch/sensors.launch" >
    	<arg name="use_sim_time" value="$(arg use_sim_time)" />
	</include>

    <!-- Launch AMCL Localization -->
	<include file="$(find srsnode_localization)/launch/amcl.launch" />
</launch>
