<!-- 
  *
  * (c) Copyright 2015-2016 River Systems, all rights reserved.
  *
  * This is proprietary software, unauthorized distribution is not permitted.
  *
-->
<launch>
    <arg name="simulation" default="false" />

    <!-- Chuck Stack -->
	<include file="$(find srsbot_chuck)/launch/robot.launch" />

    <!-- Launch AMCL Localization -->
	<include file="$(find srsnode_localization)/launch/amcl.launch" />

    <!-- Intel Realsense R200 -->
    <include file="$(find realsense_camera)/launch/r200_nodelet_rgbd.launch" >
        <arg name="load_driver" unless="$(arg simulation)" value="true" />
    </include>

    <include file="$(find srsnode_realsense_to_laserscan)/launch/driver.launch" >
        <arg name="simulation" value="$(arg simulation)" />
    </include>

    <!-- Navigation Stack -->
	<include file="$(find srsnode_navigation)/launch/node.launch" />

	<!-- Launch Map -->
	<include file="$(find srsc_common)/launch/map.launch" />
</launch>
