<!-- 
  *
  * (c) Copyright 2015-2016 River Systems, all rights reserved.
  *
  * This is proprietary software, unauthorized distribution is not permitted.
  *
-->
<launch>
	<remap from="/map" to="/internal/state/map/grid"/>
    <remap from="/map_metadata" to="/internal/state/map/info"/>
    <arg name="simulation" default="true" />

    <!-- Sensors -->
	<include file="$(find srsbot_chuck)/launch/sensors.launch" />

    <!-- Chuck Stack -->
	<include file="$(find srsbot_chuck)/launch/robot.launch" >
        <arg name="simulation" value="$(arg simulation)" />
	</include>

    <!-- GMapping -->
	<include file="$(find srsnode_localization)/launch/gmapping.launch" />
</launch>
