<!-- 
  *
  * (c) Copyright 2015-2016 River Systems, all rights reserved.
  *
  * This is proprietary software, unauthorized distribution is not permitted.
  *
-->
<launch>
    <!-- TODO: Patch Hector Slam: http://answers.ros.org/question/40541/extrapolation-error-of-local-cost-map-in-navigation/ -->

    <!-- Chuck Stack -->
	<include file="$(find srsbot_chuck)/launch/robot.launch" />
  
    <!-- Connect the odom to the base footprint -->
  	<node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0.0 0.0 0.0 0 0 0.0 /odom /base_footprint 100" />
  
    <!-- Launch AMCL Localization -->
	<include file="$(find srsnode_localization)/launch/hector_mapping.launch" />
</launch>