<!-- 
  *
  * (c) Copyright 2015-2016 River Systems, all rights reserved.
  *
  * This is proprietary software, unauthorized distribution is not permitted.
  *
-->
<launch>
	<!-- Fixed /odom frame to /map frame TF -->
	<node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0.0 0.0 0.0 0 0 0.0 /map /odom 100" />

    <!-- Chuck Stack -->
	<include file="$(find srsbot_chuck)/launch/robot.launch" />
	
    <!-- Map server -->
    <include file="$(find srsnode_map_server)/launch/node.launch">
        <arg name="target_map" value="$(find srsc_empty)/map/empty.yaml" />
    </include>

<!--
    <node name="map_server" pkg="map_server" type="map_server" args="$(find srsc_empty)/map/empty.yaml" >
        <remap from="map" to="/internal/state/map/ros_occupancy"/>
        <remap from="map_metadata" to="/internal/state/map/info"/>
    </node>
-->

</launch>
