<!-- 
  *
  * (c) Copyright 2015-2016 River Systems, all rights reserved.
  *
  * This is proprietary software, unauthorized distribution is not permitted.
  *
-->
<launch>
    <!-- Chuck Stack -->
	<include file="$(find srsbot_chuck)/launch/robot.launch" />

	<!-- Fixed /odom frame to /map frame TF -->
	<node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0.0 0.0 0.0 0 0 0.0 /map /odom 100" />

    <node name="map_server" pkg="map_server" type="map_server" args="$(find srsc_6rhq_sortwall)/map/6rhq_sortwall.yaml" >
    	<remap from="map" to="/internal/state/map/occupancy"/>
    	<remap from="map_metadata" to="/internal/state/map/info"/>
    </node>
</launch>
