<!-- 
  *
  * (c) Copyright 2015-2016 River Systems, all rights reserved.
  *
  * This is proprietary software, unauthorized distribution is not permitted.
  *
-->
<launch>
    <!-- Chuck Stack -->
	<include file="$(find srsbot_chuck)/launch/robot.launch" />

	<!-- Fixed /odom frame to /map frame TF -->
	<node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0.0 0.0 0.0 0 0 0.0 /map /odom 100" />

    <!-- Navigation Stack -->
	<include file="$(find srsnode_navigation)/launch/node.launch" />

	<!-- Launch Map -->
	<include file="$(find srsc_common)/launch/map.launch" />
</launch>
