<!-- 
  *
  * (c) Copyright 2015-2016 River Systems, all rights reserved.
  *
  * This is proprietary software, unauthorized distribution is not permitted.
  *
-->
<launch>
    <!-- Declare the parameters passed by the main launch file -->
    <arg name="robot_configuration" default="" />
    <arg name="emulation" default="false" />

    <!-- Robot description -->
    <param name="robot_description" command="$(find xacro)/xacro.py $(find srsbot_chuck)/urdf/chuck.urdf.xacro" />

    <!-- Joint and robot state publishers -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- Brainstem Hardware Driver -->
    <include file="$(find srsdrv_brainstem)/launch/driver.launch" />

    <!-- Intel Realsense R200 -->
    <!-- <include file="$(find srsnode_realsense_to_laserscan)/launch/driver.launch" >
        <arg name="simulation" value="$(arg emulation)" />
    </include> -->

    <!-- Sick LIDAR -->
	<include file="$(find sick_tim)/launch/sick_tim571_2050101.launch" />

    <!-- Joystick -->
    <include file="$(find srsnode_joystick_adapter)/launch/node.launch" />

    <!-- Raw Odometry -->
	<include file="$(find srsnode_odometry)/launch/node.launch" />

    <!-- Navigation Stack -->
	<include file="$(find srsnode_navigation)/launch/node.launch" />
 
    <!-- Launch the ros-bridge -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
</launch>
