<!--
  *
  * (c) Copyright 2015-2016 River Systems, all rights reserved.
  *
  * This is proprietary software, unauthorized distribution is not permitted.
  *
-->
<launch>
    <!-- Declare the parameters passed by the main launch file -->
    <arg name="robot_configuration" default="" />
    <arg name="use_sim_time" />
    <arg name="start_bridge" />
    <arg name="emulation_mode" />

    <!-- Robot description -->
    <param name="robot_description" command="$(find xacro)/xacro.py $(find srsbot_chuck)/urdf/chuck.urdf.xacro" />

    <!-- Joint and robot state publishers -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="use_tf_static" value="true" />
    </node>

    <!-- Brainstem Hardware Driver -->
    <include file="$(find srsdrv_brainstem)/launch/driver.launch" />

    <!-- Joystick -->
    <include unless="$(arg use_sim_time)" file="$(find srsnode_joystick_adapter)/launch/node.launch" />

    <!-- Executive -->
    <!--
    <include file="$(find srsnode_executive)/launch/node.launch" />
    -->

    <!-- Raw Odometry -->
    <include file="$(find srsnode_odometry)/launch/node.launch">
        <arg name="emulation_mode" value="$(arg emulation_mode)"/>
    </include>

    <!-- Launch the ros-bridge -->
    <include if="$(arg start_bridge)" file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
</launch>
