<!-- 
  *
  * (c) Copyright 2015-2016 River Systems, all rights reserved.
  *
  * This is proprietary software, unauthorized distribution is not permitted.
  *
-->
<launch>
    <arg name="emulation" default="false" />
   	<remap from="map" to="/internal/state/map/grid"/>
   	<remap from="map_metadata" to="/internal/state/map/info"/>
 
    <!-- Chuck Stack -->
	<include file="$(find srsbot_chuck)/launch/robot.launch" />
 
    <!-- Intel Realsense R200 -->
    <include file="$(find realsense_camera)/launch/r200_nodelet_rgbd.launch" >
        <arg name="load_driver" unless="$(arg simulation)" value="true" />
    </include>

    <!-- Launch RTAB SLAM -->
	<include file="$(find srsnode_localization)/launch/rtab.launch" />
</launch>