<!-- 
  *
  * (c) Copyright 2015-2016 River Systems, all rights reserved.
  *
  * This is proprietary software, unauthorized distribution is not permitted.
  *
-->
<launch>
    <arg name="use_sim_time" default="false" />

	<remap from="scan" to="/internal/sensors/lidar/scan/raw" />

    <!-- Sick LIDAR -->
	<include unless="$(arg use_sim_time)" file="$(find sick_tim)/launch/sick_tim571_2050101.launch" />

    <!-- Laser Filters -->
	<include file="$(find srsnode_laser_filters)/launch/driver.launch" />

    <!-- RGBD => Laserscan -->
    <include unless="$(arg use_sim_time)" file="$(find srsnode_realsense_to_laserscan)/launch/driver.launch" />
</launch>