<!-- 
  *
  * (c) Copyright 2015-2016 River Systems, all rights reserved.
  *
  * This is proprietary software, unauthorized distribution is not permitted.
  *
-->
<launch>
    <node name="srsnode_position_estimator" 
        pkg="srsnode_position_estimator"
        type="srsnode_position_estimator_node"
        output="screen" respawn="true"/>
</launch>
