<!-- 
  *
  * (c) Copyright 2015-2016 River Systems, all rights reserved.
  *
  * This is proprietary software, unauthorized distribution is not permitted.
  *
-->
<launch>
    <arg name="customer_map" value="6rhq_sortwall.yaml" />
    <arg name="customer_anchors" value="6rhq-anchors.yaml" />
    <arg name="robot_configuration" value="$(optenv ROBOT_NAME development).yaml" />
    <arg name="emulation" value="true" />

    <arg name="paused" default="false" />
    <arg name="use_sim_time" default="true" />
    <arg name="gui" default="true" />
    <arg name="headless" default="false" />
    <arg name="debug" default="true" />

    <!-- Launch visualization in rviz -->
    <node name="rviz" pkg="rviz" type="rviz" 
        args="-d $(find srsc_6rhq_sortwall_rviz)/rviz/config.rviz" 
        required="true" />

    <!-- Launch rqt plugins -->
    <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" />
    <node name="rqt_topic" pkg="rqt_topic" type="rqt_topic" />
    <node name="rqt_logger_level" pkg="rqt_logger_level" type="rqt_logger_level" />
    <node name="rqt_graph" pkg="rqt_plot" type="rqt_plot" />

    <!-- Spawn a robot into Gazebo -->
    <!-- 
        <node name="spawn_urdf" pkg="gazebo_ros" 
            type="spawn_model" 
            args="-param robot_description -urdf -model chuck" /> 
    -->

    <!-- Launch the robot with the specified cost parameters -->
    <include file="$(find srsbot_chuck)/launch/robot.launch">
        <arg name="map_stack" value="$(find srsc_6rhq_sortwall_rviz)/map/$(arg customer_map)" />
        <arg name="target_anchors" value="$(find srsc_6rhq_sortwall_rviz)/map/$(arg customer_anchors)" />
        <arg name="robot_configuration" value="$(find srsc_6rhq_sortwall_rviz)/robots/$(arg robot_configuration)" />
        <arg name="emulation" value="$(arg emulation)" />
    </include>
</launch>
