<!-- 
  *
  * (c) Copyright 2015-2016 River Systems, all rights reserved.
  *
  * This is proprietary software, unauthorized distribution is not permitted.
  *
-->
<launch>
    <node name="joy" pkg="joy" type="joy_node" required="true" />

    <node name="srsnode_joystick_adapter"
        pkg="srsnode_joystick_adapter" 
        type="srsnode_joystick_adapter"
        output="screen" />

</launch>
